<h1><%= user.name %>  welcome to portfolyser </h1> <a href="/final">click here to see final website</a>

<a href="/users/login">Login</a>
/ <a href="/register">Register</a>
<a href="/intro">Click here to add introduction</a> 
