<h3>Introduction Form</h3>
<form action="/" method="POST" enctype="multipart/form-data">

    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="text" name="name" value="" placeholder="Google">
        </div>
        <div class="form-group">
            <label for="about" class="text-light">about</label>
            <input type="about" name="about" value="" placeholder="short info">
        </div>
        <div class="form-group">
            <label for="email" class="text-light">email</label>
            <input type="email" name="email" value="" placeholder="email">
        </div>
        <div class="form-group">
            <label for="image" class="text-light">Your Image</label>
            <input type="file" name = "profile_pic" id = "profile_pic" required>
    
        </div>
        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>
 
    </div>






</form>