<nav class="navbar">
    <div class="logo">
        <a href="/">Portfolyser</a>
    </div>
    <div class="nav-links">
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>
        <div class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Contact</a></li>
            <li><a href="/register">Register</a></li>
        </div>
    </div>
</nav>