.header {
  position: fixed;
  background: #fff;
  width: 100%;
  top: 0;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(94, 65, 65, 0.15);
  padding: 1rem 0;
}

.logo {
  margin-left: 4rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  color: #4c9e9e;
  cursor: pointer;
  font-weight: 600;
  width: 12rem;
}

.logo a img {
  width: inherit;
}

.nav-links {
  display: flex;
  flex: 1;
  margin-left: 7rem;
}

.nav-user {
  display: flex;
  align-items: center;
  margin-right: 4rem;
}

.nav-link {
  padding: 0 1.5rem;
}

.nav-link a {
  color: var(--clr-black);
  font-size: 13px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.nav-link a:hover {
  color: #4c9e9e;
  text-decoration: underline;
}

/* Nav for Media Query */

.media-nav {
  display: none;
  flex-direction: column;
  padding: 4rem;
  background-color: #fff;
  justify-content: space-evenly;
  gap: 2rem;
}

.menu-icon {
  display: none;
  margin-right: 4rem;
  color: var(--clr-black);
  cursor: pointer;
}

.menu-icon:hover {
  transform: scale(1.05);
}

.menu-icon p {
  fill: var(--clr-black);
}

.line {
  width: 100%;
  margin: auto;
  height: 0.1px;
  background: #000;
}

@media (max-width: 768px) {
  .nav-links,
  .nav-user {
    display: none;
  }

  .menu-icon {
    display: flex;
  }

  .nav-links {
    margin: 0;
  }

  .nav-link {
    margin: 1rem;
  }
}
